<div class="container">
    <div class="row">
        <div class="col">
           
           <h1>LISTA FOTO PUBBLICHE</h1><br><br>
           <input class="js_search" placeholder="Cerca per titolo" />
            <br><br>
            
        </div>
    </div>
    <div class="row js_no_photo d-none">
        <div class="col">
            <h3>Non ci sono foto</h3>
        </div>
    </div>
    <div class="row row-cols-4 js_photo_table d-none">
        <!-- Qui inseriamo i post -->
    </div>
    
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script>

    //popolamento
    function Popolate() {
        axios
            .get('api/PhotoAPI/GetAllPhotos')
            .then((res) => {

                if (res.data.length == 0) // Non abbiamo nessuna foto
                {
                    console.log(res.data);
                    document.querySelector('.js_no_photo').classList.remove('d-none');
                    document.querySelector('.js_photo_table').classList.add('d-none');
                }
                else {
                    console.log(res.data);
                    document.querySelector('.js_no_photo').classList.add('d-none');
                    var photoTable = document.querySelector('.js_photo_table');
                    photoTable.classList.remove('d-none');
                    photoTable.innerHTML = '';
                    res.data.forEach((photo) => {
                        console.log(photo);

                        // Se il tilde è presente, rimuovilo dalla stringa
                        if (photo.imagePath.includes("~")) {

                            photo.imagePath = photo.imagePath.replace("~", "");
                        }

                        //controllo se la foto e visionabile

                        if (photo.isVisible) {

                            //variabile che stampa in pagina dinamicamente tutte le categorie
                            let categoriesHtml = '';
                            photo.categories.forEach(category => {
                                categoriesHtml += category.nome + ', ';
                            });

                            const contactUrl = `@Url.Action("Create", "Home")?mail=${encodeURIComponent(photo.user.email)}&id=${encodeURIComponent(photo.userid)}`;


                            photoTable.innerHTML += `
                                            <div class="col">
                                               <img src="${photo.imagePath}" style="width: 250px;"/>
                                                
                                               <h5 class="card-title">${photo.titolo}</h5>
                                               <p class="card-text">${photo.descrizione}</p>
                                               <p class="card-text">${categoriesHtml}</p>
                                               <a href="${contactUrl}" class="btn btn-primary">Contatta</a>
                                            </div>`;
                        }
                        
                    });
                }

            })
            .catch((error) => {
                console.error("Errore durante la richiesta API:", error);
            });
    }

    Popolate()


   

</script>