
@{
    ViewData["Title"] = "Pagina non Ancora pronta";
    Layout = "_Layout";
    DateTime defaultDate = new DateTime(1, 1, 1, 0, 0, 0);
}

<div class="text-center">

    <h1>@ViewData["Title"]</h1>


</div>