@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager



@{
    string activePage = ViewContext.RouteData.Values["action"]?.ToString();
    string activeController = ViewContext.RouteData.Values["controller"]?.ToString();

    <!--Modificato per ottenere il ruolo e non il nome utente-->
    var user = UserManager.GetUserAsync(User).Result;
    var roles = user != null ? UserManager.GetRolesAsync(user).Result : new List<string>();
    var role = roles.FirstOrDefault();



    // Liste di immagini per ruoli diversi
    var superadminImages = new List<string>
    {
        "img/SuperAdmin.png",
        "img/SuperAdmin1.png",
        "img/SuperAdmin2.png",
        "img/SuperAdmin3.png"
    };

    var userImages = new List<string>
    {
        "img/Admin.png",
        "img/Admin1.png",
        "img/Admin2.png",
        "img/Admin3.png"
    };

    var random = new Random();
    string randomImage;

    if (role == "SuperAdmin")
    {
        // Seleziona un'immagine casuale per l'admin
        randomImage = superadminImages[random.Next(superadminImages.Count)];
    }
    else
    {
        // Seleziona un'immagine casuale per l'utente normale
        randomImage = userImages[random.Next(userImages.Count)];
    }
}

<header>
    <h1 class="Title">Il mio Fotoalbum</h1>
    <nav>
       
          <ul>
               <li class="nav-item @(activeController == "Home" && activePage == "Index" ? "active" : "")">
                  <a class="nav-link text-dark" asp-controller="Home" asp-action="Index">Home</a>
               </li>

                @if (User.IsInRole("Admin") || User.IsInRole("SuperAdmin"))
                {
                <li class="nav-item @(activeController == "Photo" && activePage == "Index" ? "active" : "")">
                    <a class="nav-link text-dark" asp-controller="Photo" asp-action="Index">Lista Foto</a>
                </li>
                 }

                @if (User.IsInRole("SuperAdmin"))
                {
                    <li class="nav-item @(activeController == "Category" && activePage == "Index" ? "active" : "")">
                        <a class="nav-link text-dark" asp-controller="Category" asp-action="Index">Categorie</a>
                    </li>
                }
            
                <partial name="_LoginPartial" />
              
          </ul>

        <!--aggiunto per ottenere un'immagine diversa ogni volta che ci si logga-->
        <div class="logo-container">
            <img src="@randomImage" alt="Logo" />
        </div>
    </nav>
</header>

<style>

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 0px 20px 10px rgba(0, 0, 0, 0.1);
        padding: 10px;
        margin: 15px;
    }

    h1 {
        font-size: 32px;
        font-weight: bold;
        text-align: center;
        margin: 10px;
        width: 100%;
    }

    nav ul {
        display: flex;
        justify-content: center;
        list-style: none;
        width: 100%;
    }

    nav ul li {
         margin: 0 15px;
    }

    nav ul li a {
         text-decoration: none;
         color: inherit;
    }

    .nav-item.active .nav-link {
        font-weight: bold;
    }

</style>
