@model IEnumerable<Photo>

@{
    Layout = "_LayoutBack";
}

<div class="text-center">


    
    <div>
        
        

            <button class="btn btn-success"><b><a href="@Url.Action("Create", "Photo")">INSERISCI UNA NUOVA FOTO</a></b></button>
            <button class="btn btn-warning"><b><a href="@Url.Action("Delete", "Photo")">ELIMINA TUTTE LE FOTO</a></b></button>
        


    </div>

</div>