html {
  font-size: 14px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

h1 {
   display:block;
   text-align:center;
}

.col {
    text-align:center;
}

input {
    width: 25%;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; /* Altezza del contenitore, può essere modificata a seconda delle esigenze */
}
